.header {
  height: 50vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 80%;
  }
}

.content {
  padding: 4rem 5rem;
  width: 70%;

  // background: #c32938;
  // position: absolute;
  // bottom: 0;
  // left: 0%;
  // z-index: 3;
  // margin-bottom: 5rem;
  // h1,
  // p {
  //   color: #fff;
  // }
  h1 {
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
  }
  p {
    line-height: 1.6;
    font-size: 1.4rem;
  }
}

.grid {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
  svg {
    width: 60%;
  }
}

.apply {
  width: 40%;
  padding: 5rem;
  & > div {
    width: max-content;
  }
  h2 {
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }
  button {
    width: 100%;
  }
}

.dates {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.date {
  & > div {
    width: 13rem;
    padding: 1.5rem;
    border-radius: 3px;
    margin: 1rem 0;
    border: 2px solid #c32938;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2,
    h3,
    h4 {
      color: #c32938;
    }
  }
}

.criteria {
  display: flex;
  gap: 5rem;
  margin: 5rem 0;

  h3 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
  }
}

.qualification {
  background-color: #c32938;
  padding: 5rem 4rem;
  position: relative;
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 300px;
  }
  h2,
  p {
    color: #fff;
  }
  p {
    margin: 2rem 0;
    line-height: 2.2;
  }
}

.job {
  border: 1px solid #e7e7e7;
  border-top: 3px solid #b4383d;
  padding: 2.5rem;
  h3 {
    display: flex;
    align-items: center;
    span {
      margin-left: 4rem;
      display: flex;
      align-items: center;
      svg {
        margin-right: 1rem;
      }
    }
  }

  &:first-of-type {
    margin-bottom: 1.5rem;
  }
}

.note {
  padding: 0 2rem;
  margin-bottom: 5rem;
}

@media (max-width: 480px) {
  .grid {
    flex-direction: column;
    svg {
      width: 100%;
    }
  }
  .apply {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .criteria {
    flex-direction: column;
    margin: 2rem 0;
    gap: 3rem;
  }
  .job {
    h3 {
      justify-content: space-between;
      span {
        margin-left: 0;
      }
    }
    &:first-of-type {
      margin-bottom: 3rem;
    }
  }
  .note {
    padding: 0 2rem;
    margin: 3rem 0 5rem;
  }
}
