.section {
  background-color: #f6f8fb;
  padding-bottom: 6rem;
}

.header {
  position: relative;
  height: 55vh;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0.4;
    z-index: 2;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.body {
  margin-top: -70px;
  position: relative;
  z-index: 5;
  background: #ffffff;
  border-radius: 3px;
  padding: 4rem 5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: 400;
  }
  & > div {
    margin-bottom: 4rem;
  }
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 2.25rem 0;
  border-top: 1px solid #edeef2;
  border-bottom: 1px solid #edeef2;
  align-items: center;
  .item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    svg {
      height: 28px;
      width: 28px;
      grid-row: span 2;
      margin-right: 1.5rem;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    span {
      display: block;
      font-weight: 700;
    }
  }
}

.description {
  h4 {
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1.8;
  }
}

.prospects {
  padding: 3rem 3rem 1rem;
  background: #f5f8ff;
  border: 1px solid #edeef2;
  border-radius: 5px;
  h4 {
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.8;
  }
  ul {
    margin: 2rem 0;
    li {
      position: relative;
      padding-left: 2.6rem;
      margin-bottom: 1.5rem;
      list-style-type: none;
      svg {
        margin-right: 1.5rem;
      }
    }
  }
}

.curriculum {
  h4 {
    margin-bottom: 2rem;
  }
  h5 {
    font-size: 1.6rem;
  }
}

.table {
  margin-bottom: 2rem;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  th,
  td {
    padding: 8px;
    &:first-of-type {
      width: 55%;
    }
    &:last-of-type {
      text-align: center;
    }
  }
  th {
    background-color: #f6f8ff;
    cursor: default;
    &:nth-child(2) {
      position: relative;
      &::before {
        position: absolute;
        content: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='%234763cf' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'%3E%3C/path%3E%3C/svg%3E");
        height: 16px;
        width: 16px;
        right: 1rem;
      }
    }
  }
  tbody {
    tr {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 480px) {
  .section {
    padding-bottom: 3.5rem;
  }
  .body {
    margin-top: -100px;
    padding: 3rem 1rem;
    & > div {
      margin-bottom: 2.5rem;
      &:last-child {
        margin-bottom: 1rem;
      }
    }
    h1 {
      margin-bottom: 2rem;
      padding: 0 1rem;
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .description {
    padding: 0 0.75rem;
  }
  .meta {
    justify-content: space-evenly;
    .item {
      span {
        font-size: 1.3rem;
      }
      p {
        font-size: 1.4rem;
      }
      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
  .prospects {
    padding: 2rem 1.5rem;
    ul {
      li {
        line-height: 2;
        padding-left: 1.5rem;
      }
    }
  }
  .table {
    th {
      display: none;
    }
    td {
      display: flex;
      justify-content: space-between;
      &::before {
        content: attr(data-cell);
      }

      &:nth-child(even) {
        background-color: #f7f8fb;
      }

      &:first-of-type {
        width: 100%;
        text-align: right;
      }
      &:last-of-type {
        text-align: left;
        margin-bottom: 2rem;
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #fff;
        }
      }
    }
  }
}
