.section {
  margin: 5rem 0;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 3rem;
  }
  a {
    color: #c32939;
  }
}

@media (max-width: 768px) {
  .section {
    margin: 2.5rem 1.5rem;
  }
}
