.section {
  max-width: 1120px;
  margin: 0 auto;
  padding: 5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  img {
    margin-top: 2rem;
    animation: mover 1s infinite alternate;
    @-webkit-keyframes mover {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
    @keyframes mover {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}

.header {
  h2 {
    font-size: 5rem;
    letter-spacing: -2px;
    line-height: 6rem;
    margin-bottom: 2rem;
    span {
      color: #ffb013;
      font-size: 5rem;
    }
  }
  p {
    line-height: 2.4rem;
    padding-right: 3rem;
    display: block;
    position: relative;
    padding: 0 28px;
    width: 90%;
    margin-bottom: 1.5rem;
    &:after {
      left: 0;
      content: "";
      position: absolute;
      height: 72px;
      width: 2px;
      background: #ffb013;
      transform: translateY(-50%);
      top: 50%;
    }
  }
  button {
    margin: 1rem 0 1.5rem;
  }
}

.tabs {
  padding-right: 65px;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin-bottom: 25px;
  margin-top: 15px;

  button {
    background: none;
    cursor: pointer;
    display: block;
    padding: 0px;
    color: #a3a3a3;
    padding-bottom: 1rem;
    border-bottom: 2px solid #e7f1f6;
    border-bottom-color: rgb(231, 241, 246);
    padding-right: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 15px;
    &:nth-child(2) {
      padding-left: 0.7rem;
    }
  }

  p {
    line-height: 2.4rem;
    text-align: justify;
  }
}

.tab_button_active {
  border-bottom: 5px solid #ffb013 !important;
  color: #001d23 !important;
}

@media (max-width: 480px) {
  .section {
    flex-direction: column-reverse;
    margin: 2rem auto 0;
    padding: 0;
    img {
      height: 34vh;
      width: 85vw;
      margin-right: 1rem;
      margin-bottom: 2rem;
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    h2 {
      font-size: 4rem;
      line-height: 5rem;
    }
    p {
      width: 100%;
      padding-right: 0;
    }
  }
  .tabs {
    padding-right: 0;
    padding: 0 0.5rem;
    p {
      line-height: 1.7;
      font-size: 1.5rem;
      text-align: left;
    }
  }
}
