.widget {
  position: fixed;
  z-index: 10;
  top: 40%;
  right: 0;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  transform: rotate(-90deg) translateY(18.25rem);
  &:hover {
    transform: rotate(-90deg) translateY(1.5rem);
  }
  & > button {
    padding: 1rem 1.5rem;
    width: 100%;
    background: #c32938;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    text-decoration: none;
  }
  .content {
    background: #fff;
    padding: 0rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    a {
      display: block;
      letter-spacing: 0.5px;
      word-spacing: 3px;
      padding: 1.25rem;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
      &:hover {
        background: #f4b442;
      }
    }
  }
}

@media (max-width: 480px) {
  .widget {
    transform: rotate(-90deg) translateY(18rem);
    &:hover {
      transform: rotate(-90deg) translateY(0.5rem);
    }
  }
}
