.section {
  background: #c32939;
  padding: 2rem;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    color: #fff;
    font-size: 1.6rem;
  }
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .section {
    padding: 2rem 1rem;
    & > div {
      flex-direction: column;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }
  .buttons {
    flex-direction: column;
    button {
      width: 100%;
    }
  }
}
