.section {
  background: #f7f8fb;
  padding: 7rem 0 5rem;
  & > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

.card {
  margin-top: 3rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(28, 51, 84, 0.07);
    z-index: 2;
    flex-shrink: 0;
    height: 170px;
    width: 170px;
  }
  h3 {
    margin-bottom: 2rem;
    text-align: center;
  }
  a {
    display: block;
    width: max-content;
    margin-top: auto;
  }
  &:last-child {
    position: relative;
    margin-top: -1rem;
    &::before {
      position: absolute;
      left: 0;
      top: 10%;
      content: "";
      display: block;
      height: 75%;
      border-left: 1px solid #ffb013;
    }
  }
}

.body {
  padding: 1rem;
  //background: #fff;
  //box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  width: 100%;
  height: 100%;
  h2,
  h4,
  p {
    text-align: center;
  }
  p {
    margin-top: 0.25rem;
  }
  h2 {
    font-size: 1.8rem;
    padding: 1rem 0.5rem 0.5rem;
  }
  h4 {
    font-size: 1.3rem;
    line-height: 1.45;
  }

  h4:nth-child(4) {
    margin-top: 0.5rem;
  }
}

@media (max-width: 720px) {
  .section {
    & > div {
      flex-direction: column;
      gap: 2rem;
    }
    .card {
      width: 100%;
      h3 {
        margin-top: 4rem;
      }
      &:last-child {
        margin-top: 0;
        &::before {
          top: 0;
          left: 10%;
          width: 80%;
          border-left: none;
          border-top: 1px solid #ffb013;
        }
      }
    }
  }
}
