.menu {
  ul {
		transform: translate(-3.3rem,.25rem);
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
		z-index:99;
  }
  li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      background-color: #f6f6f6;
    }
  }
}

@media (max-width: 480px){
	.menu{
		ul{
			transform:translate(0,.2rem);
		}
	}
}
