.section {
  //background-color: #f4f6f9;
  z-index: 2;
  padding: 5rem 0 7rem 0;
  position: relative;
}

.shape2 {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
}

.shape1 {
  position: absolute;
  left: -2rem;
  z-index: -1;
  bottom: 5rem;
}

.grid {
  display: flex;
  gap: 2%;
  padding-top: 3rem;
}
.item {
  z-index: 1;
  display: flex;
  align-self: stretch;
  box-shadow: 0px 10px 40px rgba(28, 51, 84, 0.07);
  overflow: hidden;
  width: 50%;
  img {
    transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
    width: 22rem;
    height: 100%;
    object-fit: cover;
    &:hover {
      // transform: scale3d(1.1, 1.1, 1.1);
      overflow: hidden;
    }
  }
}

.content {
  padding: 25px 35px 15px;
  background-color: #ffffff;
  width: 65%;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }
  p {
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    a {
      color: #c32938;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: auto;

  & > div {
    display: none;
  }
  & > a {
    flex: 45%;
    button {
      width: 100%;
    }
  }

  span {
    font-size: 1.4rem;
    font-weight: 400;
    color: #575757;
  }
  svg {
    margin-right: 6px;
    line-height: 1;
  }
}

.section.vertical {
  h2 {
    display: none;
  }
  .grid {
    padding: 3rem 0;
    flex-direction: column;
  }
  .item {
    width: 100%;
    margin-bottom: 3rem;
    img {
      width: 50%;
      height: 30rem;
    }
  }
  .content {
    width: 100%;
    p {
      margin-top: 2rem;
    }
  }
  .footer {
    & > div {
      display: block;
      flex: 1 0 15%;
    }
    & > a {
      flex: inherit;
      button {
        width: auto;
      }
      &:first-of-type {
        margin-left: auto;
        margin-right: 1.5rem;
      }
    }
  }
  @media (max-width: 480px) {
    padding: 0;
    .item {
      margin-bottom: 0;
      img {
        width: 100%;
      }
    }
    .footer {
      & > div {
        // flex: 1 0 30%;
        // margin-bottom: 2rem;
        // padding: 0 1rem;
        display: none;
      }
      & > a {
        flex: 40%;
        button {
          width: 100%;
        }
        &:first-of-type {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .grid {
    flex-direction: column;
    gap: 3.5rem;
  }
  .item {
    flex-direction: column;
    width: 100%;
    img {
      height: 25rem;
      width: 100%;
    }
    h3 {
      font-size: 1.8rem;
    }
  }
  .content {
    width: 100%;
    padding: 25px 25px 15px;
  }
  .footer {
    gap: 10px;
    span {
      font-size: 1.25rem;
    }
    & > div {
      flex: 15%;
    }
    & > a {
      flex: 40%;
      font-size: 1rem;
      padding: 0;
      line-height: 3;
      button {
        font-size: 1.3rem;
      }
      &:first-of-type {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}
