.section {
  justify-content: space-between;
  align-items: stretch;
  margin: 3rem 0;
  padding: 0 5rem;
  h2 {
    margin-bottom: 5rem;
  }
}

.single {
  padding: 0;
  h2 {
    display: none;
  }
  .list {
    display: none;
  }
}

.tabs {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.list {
  display: flex;
  button {
    cursor: pointer;
    padding: 2rem 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    width: 50%;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}

button.tab_button_active {
  background-color: #f4b442;
  color: #202020 !important;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.panel {
  ul {
    //width: 70%;
    width: 100%;
    //padding-left: 2rem;
    li {
      display: flex;
      align-items: center;
      padding: 1.5rem 2rem;
      border-left: 1.5px solid #edeef2;
      border-right: 1.5px solid #edeef2;
      &:first-of-type {
        border-top: 1px solid #edeef2;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding-top: 2rem;
      }
      &:last-of-type {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom: 1px solid #edeef2;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #e6e6e6;
      }
      svg {
        fill: #f4b442;
        height: 22px;
        width: 22px;
        margin-right: 2rem;
        flex-shrink: 0;
      }
      svg.green {
        fill: #7dcc87;
      }
      p {
        margin: 0;
        line-height: 2.6rem;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .section {
    background: #fff;
    padding: 0;
    margin: 0 0 2rem;
    h2 {
      margin-bottom: 4rem;
    }
  }
  .list {
    button {
      font-size: 1.5rem;
    }
  }
  .panel {
    ul {
      width: 100%;
      padding-left: 0;
      margin-top: 2rem;
      li {
        align-items: flex-start;
        padding: 1.5rem 1.2rem;

        svg {
          width: 18px;
          height: 18px;
          margin-top: 1rem;
          margin-right: 1.5rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

// .or {
//   p {
//     font-size: 1rem !important;
//     color: #fff;
//     padding: 0 0.55rem;
//   }
//   background-color: #f4b442;
//   border-radius: 50%;
//   margin-right: 2rem;
//   display: flex;
//   align-items: center;
// }

.nb {
  padding: 2rem 2.5rem;
  font-size: 1.4rem;
}
