.item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.date {
  h4 {
    height: 5.3rem;
    width: 8rem;
    background: #ffb013;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 5.5rem;
    font-size: 3.2rem;
    font-weight: 700;
    color: #141517;
  }
  h5 {
    background: #ffffff;
    display: flex;
    // height: 40px;
    // width: 90px;
    justify-content: center;
    line-height: 40px;
    font-size: 15px;
    color: #141517;
    font-weight: 400;
  }
}

.content {
  border: 1px solid #f6f8fb;
  display: flex;
  justify-content: space-between;
  width: 56rem;
  padding: 18px 30px 16px 30px;
  align-items: center;
  flex-wrap: wrap;
  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.2rem;
  }
  span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2rem;
    svg {
      margin-right: 5px;
      height: 18px;
      width: 18px;
    }
  }
}

.arrow {
  color: #7f8a9f;
  height: 45px;
  width: 45px;
  background-color: #f6f8fb;
  text-align: center;
  line-height: 45px;
}

@media (max-width: 480px) {
  .section {
    width: 100%;
  }
  .item {
    align-items: flex-start;
  }
  .date {
    h4 {
      font-size: 2.4rem;
      width: 5rem;
      height: 4rem;
      line-height: 4rem;
    }
    h5 {
      font-size: 1.2rem;
    }
  }
  .content {
    width: 100%;
    padding: 0.5rem;
    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.7rem;
    }
    span {
      font-size: 0.9rem;
      svg {
        margin-right: 3px;
        height: 12px;
        width: 12px;
      }
    }
  }

  .arrow {
    height: 32px;
    width: 32px;
    line-height: 32px;
  }
}
