.section {
  & > div {
    display: flex;
    padding: 3rem 0 2rem;
    display: flex;
    gap: 2%;
    align-items: center;
  }
}
.header {
  width: 30%;
  margin-left: auto;
  // padding: 6rem 3rem 6rem 0;
  padding: 3rem;
  svg {
    height: 72px;
    width: 72px;
    // fill: #f4b442;
  }
  h2 {
    margin: 1.5rem 0 2.5rem;
    font-size: 2.8rem;
  }
  p {
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }
}

.card {
  // width: 33.33%;
  width: 60%;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 2rem 2rem 1rem;
  background: #fff;
  //box-shadow: 0 10px 40px rgba(12, 29, 74, 0.08);
  h3 {
    padding: 1rem;
    // border-bottom: 3px solid #ffb013;
    font-size: 2rem;
    color: #000;
    &:after {
      margin-top: 1.5rem;
      content: "";
      display: block;
      width: 40%;
      border-bottom: 4px solid #ffb013;
    }
  }
  ul {
    margin: 1rem 0 2rem;
    li {
      line-height: 2.4rem;
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      display: flex;
      justify-content: space-between;
      &:nth-child(even) {
        background-color: #f6f8fb;
      }
    }
  }

  a {
    margin: auto 0 0;
    padding: 1rem 2.5rem;
    line-height: auto;
    text-align: center;
    height: auto;
    line-height: 3rem;
    border-radius: 3px;
  }
}

@media (max-width: 480px) {
  .section {
    & > div {
      flex-direction: column;
      width: 100%;
      padding: 1rem 0 5rem;
    }
  }
  .header {
    padding: 1rem 2rem;
    width: 100%;
    h2 {
      font-size: 2.4rem;
    }
  }
  .card {
    width: 100%;
    padding: 0;
    ul {
      margin: 0;
      li {
        padding: 1.25rem 2rem;
      }
    }
  }
}
