.section {
  padding: 3rem 0;
}

.tution {
  display: flex;
  align-items: center;
}

.fee_container {
  width: 70%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.fee {
  display: flex;

  h3 {
    padding: 1rem 2rem;
    display: flex;
    background-color: #eff1f4;
    border-radius: 4px 0 0 4px;
    line-height: 2.8rem;
  }
  h4 {
    padding: 1rem 2rem;
    background-color: #f3b041;
    border-radius: 0 4px 4px 0;
    line-height: 2.8rem;
  }
}

.accomodation {
  display: flex;
  flex-wrap: wrap;
  ul {
    width: 70%;
    margin: 1rem 0;
    li {
      line-height: 2.4rem;
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      display: flex;
      justify-content: space-between;
      &:nth-child(even) {
        background-color: #f6f8fb;
      }
    }
    p {
      padding: 2rem;
      line-height: 2;
    }
  }
  .fee {
    width: max-content;
    margin-left: auto;
    h3 {
      border-radius: 4px 0 0 4px;
      flex-shrink: 0;
      width: max-content;

      padding: 1rem 2rem;
    }
    h4 {
      border-radius: 0 4px 0 0;
      flex-shrink: 0;
      width: max-content;
    }
  }
}

.header {
  width: 30%;
  padding: 3rem;
  display: flex;

  svg {
    height: 48px;
    width: 48px;
    margin-right: 2rem;
    &::before {
      content: "";
      display: block;
      height: 25%;
      padding-left: 1rem;
      border-left: 4px solid #ffb013;
    }
  }
  h2 {
    margin: 1rem 0;
    font-size: 2.1rem;
  }
  p {
    line-height: 2.2rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .section {
    & > div {
      flex-direction: column;
      width: 100%;
      padding: 1rem 0;
    }
    p {
      line-height: 1.7;
      padding: 2rem;
      text-align: left;
      margin-top: 0;
    }
  }
  .tution {
    flex-direction: column;
  }
  .fee_container {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
  }
  .fee {
    h3 {
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      width: 65%;
      line-height: 2.4;
    }
    h4 {
      width: 35%;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      line-height: 2.8;
    }
  }
  .accomodation {
    margin-top: 2rem;
    ul {
      width: 100%;
    }
    .fee {
      h3 {
        padding: 0.5rem 1rem;
      }
      h4 {
        padding: 0.5rem 1rem;
        line-height: 2.8;
      }
    }
  }
  .header {
    padding: 1rem 2rem;
    width: 100%;
    h2 {
      font-size: 2.4rem;
    }
  }
}
