.menu_dropdown {
  position: absolute;
  top: 100%;
  right: auto;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.25rem 0;
  list-style: none;
  background-color: #fff;
  display: none;
  width: max-content;
  border-top: 1px solid #e0e0e0;
  li {
    list-style-type: none;
  }
}

.show {
  display: block;
}

.nested {
  position: absolute;
  left: 100%;
  top: -7px;
}

.menu_dropdown.footer {
  top: -85%;
  border-top: none;
}

@media (max-width: 768px) {
  .menu_dropdown {
    border-top: none;
  }
  .menu_dropdown {
    left: -50%;
  }
  .menu_dropdown.footer {
    top: 100%;
  }
}
