.nav {
  & > ul {
    display: flex;
    justify-content: space-around;
  }
}

.nav.footer {
  flex: 0 0 60%;
  & > ul {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
    opacity: 0;
    width: 100vw;
    transition: all 0.3s;
    height: 0;
    padding: 1rem;
    transition: all 0.5s;
    ul {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .nav_show {
    display: flex;
    opacity: 1;
    height: auto;
  }
  .nav.footer {
    flex: auto;
    max-width: 95vw;
  }
}
