.section {
  padding: 5rem 0;
  background: #c32939;
  & > div {
    display: flex;
    align-items: center;
  }
  h2 {
    flex: 0 0 30%;
    color: #fff;
  }
  a {
    flex: 0 0 14%;
  }
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    fill: #fff;
    margin-bottom: 1rem;
    height: 32px;
    width: 32px;
  }
  p {
    color: #fff;
  }
}

.section.minimal {
  background: none;
  padding: 0;
  flex: 0 0 40%;
  margin-left: auto;
  & > div {
    justify-content: flex-end;
  }
  h2 {
    display: none;
  }
  svg {
    height: 16px;
    width: 16px;
    margin-bottom: 0;
  }
  a {
    width: 10rem;
  }
  .social {
    p {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .section {
    padding: 3rem 0 5rem;
    & > div {
      flex-wrap: wrap;
      gap: 2rem;
    }
    h2 {
      flex: 0 0 100%;
      margin-bottom: 2rem;
      text-align: center;
    }
    a {
      flex: 0 0 calc(33% - 2rem);
    }
    p {
      font-size: 1.2rem;
    }
  }
  .section.minimal {
    display: none;
  }
}
