.page {
  // padding: 0 7rem;
}

.header {
  position: relative;
  height: 47vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 4rem 6rem;
  h1 {
    color: #fff;
    z-index: 2;
    font-size: 3.1rem;
    svg {
      margin-right: 1rem;
    }
  }
  & > img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: 0 46%;
  }
}

.pac {
  padding: 7rem 0 4rem;
  h2 {
    font-size: 2.7rem;
  }
  & > div {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  .card {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 10px 40px rgba(28, 51, 84, 0.07);
    }
    h3 {
      margin-top: 2rem;
    }
    a {
      margin-top: 1.5rem;
    }
  }
}

.faculty {
  margin: -2rem 0 7rem;
  h2 {
    font-size: 2.7rem;
  }
  & > div {
    margin-top: 6rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .card {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 10px 40px rgba(28, 51, 84, 0.07);
    }
    h3 {
      margin-top: 2rem;
      text-align: center;
    }
    h4 {
      margin-top: 0.15rem;
      font-weight: 400;
      margin-bottom: 1rem;
      text-align: center;
    }
    a {
      margin-top: auto;
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding: 2rem;
    height: 25vh;
    h1 {
      font-size: 2.4rem;
      display: flex;
      flex-direction: column;
      svg {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
    img {
      object-fit: cover;
    }
  }
  .pac {
    padding: 5rem 0 4rem;
    h2 {
      font-size: 2.6rem;
    }
    & > div {
      margin-top: 5rem;
      flex-direction: column;
      gap: 5rem;
    }
    .card {
      width: 100%;
      img {
        height: 200px;
        width: 200px;
      }
    }
  }
  .faculty {
    padding: 5rem 0 4rem;

    & > div {
      margin-top: 5rem;
      flex-direction: column;
      gap: 5rem;
    }
    .card {
      width: 100%;
    }
  }
}
