.page {
  padding: 4rem;
  min-height: 80vh;
  //background-image: url(/zanzibar/img/bg/partner.png);
  h1 {
    margin-bottom: 4rem;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 2rem 1rem;
  }
}
