* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8rem;
  color: #575757;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
  overflow-wrap: break-word;
  margin-bottom: 0;
  //display: inline-block;
  line-height: 1.3;
  color: #141517;
}

p {
  color: #575757;
}

img,
picture,
video,
canvas,
svg {
  /* display: block; */
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

a {
  text-decoration: none !important;
  color: #333;
}

.container {
  max-width: 1140px;
  margin: auto;
  width: 95%;
}

.section-title {
  font-size: 3.2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: #141517;
  font-weight: 700;
  line-height: 1.3;
}

.section-title.line::after {
  margin: 1.5rem auto;
  content: "";
  display: block;
  width: 13%;
  border-bottom: 4px solid #ffb013;
}

.section-title.center {
  text-align: center;
}

/* Blaze Slider Pagination Styles */
.blaze-pagination {
  margin: 4rem auto;
  width: max-content;
}

.blaze-pagination button {
  height: 10px;
  width: 10px;
  background: #e3e3e3;
  color: transparent;
  margin: 0 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease-out 0s;
}

.blaze-pagination button.active {
  width: 36px;
  background: #ffb013;
  border-radius: 10px;
}

/* React Accordion */
.szh-accordion__item-content {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

@media only screen and (max-width: 480px) {
  .section-title {
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1240px;
  }
}

/* React Video Player */
.react-player__preview {
  z-index: 2;
  position: relative;
}
.react-player__shadow {
  z-index: 3;
}
.react-player__play-icon {
  cursor: pointer;
  z-index: 4;
}
