.campus {
  padding: 3rem 0;
  @media (max-width: 480px) {
    padding: 1rem 0;
  }
  //background-color: #d50032;
  & > div {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}

.content {
  padding: 3rem;
  @media (max-width: 480px) {
    padding: 1rem 2rem;
  }
  h2 {
    //color: #fff;
    font-size: 5rem;
    letter-spacing: -2px;
    line-height: 6rem;
    @media (max-width: 480px) {
      font-size: 4rem;
    }
    span {
      color: #ffb013;
    }
  }

  p {
    margin: 2rem 0;
    line-height: 2;
    //color: #fff;
    display: block;
    &:first-of-type {
      padding-bottom: 2rem;
      //border-bottom: 1px solid #444;
    }
    &:last-of-type {
      padding-left: 3rem;
      border-left: 4px solid #ffb013;
      line-height: 2;
      margin-top: 1rem;
    }
  }
}

.images {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    &:nth-child(2) {
      grid-row: span 2;
    }
  }
}
